.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28vh;
  background: url(../images/hero_banners/browse.jpg) center center / cover no-repeat;

  @media all and (max-width: 768px) {
    height: 50px;
  }
}

.tabs {
  display: flex;
  height: 80px;
}

.tab {
  background: var(--white);
  color: var(--black);
  cursor: pointer;
  letter-spacing: 0.128em;
  font-family: "proxima-nova", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: background 0.1s linear;
}

.active {
  background: var(--green);
  color: var(--white);
}

.browseOverview {
  display: flex;
  align-items: center;

  @media all and (max-width: 940px) {
    flex-direction: column-reverse;
  }
}

.browseSort {
  margin-left: auto;
  padding-right: 1em;

  @media all and (max-width: 940px) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.flexRow {
  display: flex;
  align-items: center;
  padding-left: 1em;

  @media all and (max-width: 940px) {
    width: 100%;
    padding-left: 2em;
  }

  @media all and (max-width: 640px) {
    padding-top: 1em;
    align-items: flex-start;
    flex-direction: column;
  }
}
