.main {
  margin: 40px 5% 55px;
}

.hGroup {
  padding: 25px 20px;
}

.header {
  color: #2a2a2a;
  font-size: 26px;
  margin: 0;
}

.subHeader {
  color: var(--darker-grey);
  font-size: 16px;
  margin: 15px 0 0 0;
}

.text {
  color: var(--darker-grey);
  font-size: 16px;
  padding: 50px 20px 25px;
}
