.moodTilesWrapper {
  @media all and (max-width: 940px) {
    flex-wrap: wrap;
  }

  @media all and (max-width: 640px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.tile {
  background-color: var(--white);
  font-family: "elena-web-basic", georgia;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  height: 204px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
}

.corner {
  color: var(--black);
  font-size: 18px;
  position: relative;
  top: 0.75em;
  z-index: 1;
  height: 0;
  text-align: left;
}

.leftCorner {
  composes: corner;
  left: 0.75em;
  text-align: left;
  color: var(--white);
}

.whiteLeftCorner {
  composes: corner;
  left: 0.75em;
  color: var(--white);
}

.rightCorner {
  composes: corner;
  color: var(--white);
  cursor: pointer;
  right: 0.75em;
  text-align: right;
}
